[submodule "extern/soci"]
	path = extern/soci
	url = https://github.com/SOCI/soci.git
[submodule "extern/easyloggingcpp"]
	path = extern/easyloggingcpp
	url = https://github.com/easylogging/easyloggingpp
[submodule "extern/repos/soci"]
	path = extern/repos/soci
	url = https://github.com/SOCI/soci.git
[submodule "extern/repos/easyloggingcpp"]
	path = extern/repos/easyloggingcpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "extern/repos/jsoncpp"]
	path = extern/repos/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
